

Projekto tikslas yra sukruti papildomas frakcijas ukrainve vs russian abi šių laikų. 

Kaip baze naudoti rhs usa vs russia, tačiau modifikuojant ir pridedant nauju karių.

Originalo failas, kaip reference yra Original kataloge, jei kažkas suges modifikuojant.

Reikai viską dokumentuoti, kaip mūsų pakeitimai keičia pačia misija nuo originalios, kad galėtume atsekti